.article {
  $margin: 1.3rem;

  p {
    margin-top: $margin;
    font-size: 1rem;

    a {
      color: rgb(13 148 136);
      text-decoration: underline;
      &:hover {
        opacity: 0.6;
      }
    }
  }

  h2 {
    margin-top: 3.5rem;
    font-size: 1.4rem;
    font-weight: 600;
  }
  h3 {
    @extend h2;
    margin-top: 3rem;
    font-size: 1.2rem;
  }
  h4 {
    @extend h2;
    margin-top: 2.5rem;
    font-size: 1.2rem;
  }
  h5,
  h6 {
    @extend h2;
    margin-top: 2rem;
    font-size: 1rem;
  }

  ul,
  ol {
    margin-top: $margin;
    padding-left: 2rem;

    li {
      margin-top: 0.3rem;
      padding-left: 0.5rem;
    }
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }

  blockquote {
    margin-top: $margin;
    padding-left: $margin;
    font-weight: bold;
    font-style: italic;
    border-left: 0.3rem solid lightgray;
  }

  table {
    margin-top: $margin;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    tr {
      border-bottom: 0.1rem solid lightgray;
    }
    th {
      font-weight: bold;
      border-bottom: 0.1rem solid gray;
    }
    th,
    td {
      padding: 0.5rem 0.8rem;
    }
  }

  hr {
    margin-top: $margin;
    height: auto;
    border: 0;
    text-align: center;

    &:before {
      content: "\2022 \2022 \2022";
      font-size: 2rem;
      opacity: 0.4;
    }
  }

  pre {
    margin-top: $margin;
    background: lightgray;
  }
}
